*{
    margin: 0px
    padding: 0px                                                                                                                                                                            
}
.test{
    color: blue;
    cursor:pointer
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    border: solid 1px;
}
.box{
    padding: 20px;
    background-color: red;
    width: 150px;
    margin: 10px;
    height: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}